.elemento{
    background-color: powderblue;
    border: powderblue solid 2px;
    margin: 1%;
}

#btnCargar{
    margin-left: 10px;
}


/* Wea de los forms */
.form{
    margin: 10px;
}
.form input{
    margin-left: 10px;
}
form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; margin-top: 5px;}
input { display: table-cell; margin-top: 5px;}


.ids h4{
    text-align: left;
    margin: 3px;
    padding: 3px;

    background-color: white;
}

.cuerpo p{
    text-align: justify;
    margin: 3px;
    color: black;
}

.idElemento{
    margin-top: 1%;
    font-weight: bold;
    margin-left: 5px;
}



.todo{
    
    height: 100%;
    width: 60%;

    margin: auto;
    overflow: center;

    border: powderblue solid 2px;
}

.cabezal{
    margin-bottom: 20px;
    background-color: powderblue;
    color: black;

    text-align: center;
    padding: 10px;
}

.piePagina{
    margin-top: 20px;
    background-color: powderblue;
    color: black;

    text-align: center;
    padding: 10px;
}